html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  font-family: 'Rubik',
  sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(140, 140, 140, 0.87);
  background-color: rgb(235, 235, 235);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
}