.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 4rem;
    right: 0;
    top: 0;
    gap: 1rem;
    padding: 0.5em;
    cursor: default;
    font-size: 1.5em;
    color: #f5f5f5;
    z-index: 10;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    font-family: "Rubik", sans-serif;
    color: #861e1e;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffffff;
}